.DS_Store

# zsh runtime state
zsh/.zsh_sessions/
zsh/.zsh_history
zsh/.zcompdump

# Tmux
tmux/resurrect/
tmux/tmuxinator/

# Lazygit
lazygit/config.yml

# Tig
tig/theme.tig

# Karabiner
karabiner/automatic_backups


